/* ATROPOSE ............................................................................   */

/* MAP */

footer .atropos-inner{
  display: inline-block;
  width: 750px;
  height: 300px;
  /* margin: 10px 10px 10px; */
  /* border: 2px solid rgb(144, 136, 136); */
  border-radius: 30px;
}

footer .atropos-rotate{
  display: inline-block;
  width: 750px;
  height: 300px;
  
}

footer .atropos-scale{
  display: inline-block;
  width: 750px;
  height: 300px;

}

footer .atropos.my-atropos-map{
  display: inline-block;
  width: 750px;
  height: 300px;

}
/* width: 100%;
  box-shadow: 0px 10px 20px -6px #00ff77f7; */
/* display: none; */



/* .text-over {
  position: absolute;
  bottom: 90px;
  left: 30px;
  color: white;
  font-weight: bold;
  font-size: 180%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
} */

/* .text-over-2 {
  position: absolute;
  bottom: 60px;
  left: 30px;
  color: white;
  font-weight: bold;
  font-size: 180%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
} */