
html {
  /* default 1.6rem */
  /* 1rem / 1.6rem = 0.625  */
  font-size: 62.5%;   /* current 1rem = 1rem */
}

/* BUTTON EFFECT */
/* Maintain order */

/* HEADER ...................................................................   */

.header-all-value a:hover {
  color: rgb(43, 224, 122) ;
  transition: all 500ms;
}

.header-all-value a:active {
  color: rgb(233, 252, 241);
}

/* NAVIGATION ...................................................................   */

.main-nav:hover > .sub-nav, .main-nav:focus-within > .sub-nav{
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 12vw;
  flex-direction: column;
  align-items: start;
  align-content: center;
  gap: 1vw;
}

.nav-heading:hover,
.sub-nav-text:hover {
  color: rgb(43, 224, 122);
  transition: all 300ms;
  /* opacity: 0.7; */
  /* font-weight: bold; */
  /* text-decoration: underline wavy #2be07a; */
}

.sub-nav-text:hover{
  font-weight: 600;
  background-color: rgba(43, 224, 121, 0.29);
  border-radius: 0.2vw;
}

.sub-nav-text:active {
  color: #d6ffe8;
  border: 1.6rem #d3ded6;
}

.main-nav.quote button:hover {
  font-weight: 600;
  color: #eaff96;
  box-shadow: rgba(0, 0, 0, .15) 0 0.3rem 0.9rem 0;
  transform: translateY(-0.2rem);
}

.main-nav.quote button:active{
  color: rgb(255, 255, 255);
}

/* GET A QUOTE BUTTON ...................................................................   */

.works-quote-offers-button:hover {
  font-weight: 600;
  padding: 0.5vw 1vw;
  border-radius: 0.8vw;
  color: #031509;
  background-color: rgb(43, 224, 122);
  box-shadow: 0.4rem 0.7rem 1rem #031509;
  transition: all 200ms;
}

.works-quote-offers-button:active {
  color: rgb(43, 224, 122);
  background-color: #f2f2f2;
  box-shadow: -0.4rem -0.6rem 1rem #031509;
}

/* SERVICES CARDS ...................................................................   */

.our-services-card p:hover, .our-services-card h6:hover, .our-services-card img:hover {
  color: rgb(43, 224, 122);
  transition: all 500ms;
}

.swiper-button-next:hover,
.swiper-button-prev:hover{
  background-color: rgba(43, 224, 121, 0.29);
  /* border-radius: 0.8vw; */
}


/* HOW WE WORKS ...................................................................   */

.working-process p:hover{
  color: rgb(43, 224, 122);
  transition: all 500ms;
}

.working-process img:hover{
  box-shadow: 0.2rem 0. 5rem 2rem -0.6rem rgb(43, 224, 121);
}

/* PRODUCTS ...................................................................   */

.products-images img:hover{
  box-shadow: 0.2rem 0.5rem 2rem -0.3rem rgb(43, 224, 121);
}

/* INDUSTRIES WE SERVE ...................................................................   */

.industries-we-serve-list div:hover{
  background-color: rgba(43, 224, 121, 0.29);
  border-radius: 0.8vw;
}

.industries-we-serve-list h6:hover{
  /* font-size: 2.1rem; */
  /* position: relative; */
  /* top: -21rem; */
  margin: 0 0 0;
  transition: all 500ms;
  /* padding: 6rem 0; */
  color: rgb(43, 224, 121);
  /* background-color: rgba(0, 0, 0, 0.375); */
}

.industries-we-serve-list img:hover{
  box-shadow: 0.2rem 0.5rem 2rem -1.2rem #93939360;
}

/* FOOTER ...................................................................   */

html {
  /* default 1.6rem */
  /* 1rem / 1.6rem = 0.625  */
  font-size: 62.5%;   /* current 1rem = 1rem */
}

.footer-nav-head a:hover{
  color: rgb(43, 224, 122);
  transition: all 500ms;
  background-color: rgba(43, 224, 121, 0.29);
  border-radius: 0.8vw;
}

.footer-nav-head a:active{
  color: #eaff96;
}

.follow-link img:hover{
  background-color: rgba(43, 224, 121, 0.29);
  border-radius: 0.8vw;
}

#laws a:hover{
  color: #d6ffe8;
}
