
html {
  /* default 1.6rem */
  /* 1rem / 1.6rem = 0.625  */
  font-size: 62.5%;   /* current 1rem = 1rem */
}

/* BUTTON EFFECT */
/* Maintain order */

/* HEADER ...................................................................   */

.header-all-value a:hover {
  color: rgb(43, 224, 122);
}

.header-all-value a:active {
  color: rgb(233, 252, 241);
}

/* NAVIGATION ...................................................................   */

.nav-heading:hover,
.sub-nav-text:hover {
  color: rgb(43, 224, 122);
  /* opacity: 0.7; */
  /* font-weight: bold; */
  /* text-decoration: underline wavy #2be07a; */
}

.nav-heading:active, .sub-nav-text:active {
  color: #d6ffe8;
  border: 1.6rem #d3ded6;
}

.main-nav.quote button:hover {
  color: #eaff96;
  box-shadow: rgba(0, 0, 0, .15) 0 0.3rem 0.9rem 0;
  transform: translateY(-0.2rem);
}

.main-nav.quote button:active{
  color: rgb(255, 255, 255);
}

/* GET A QUOTE BUTTON ...................................................................   */

.works-quote-offers-button:hover {
  color: rgb(43, 224, 122);
  box-shadow: 0.4rem 0.7rem 1rem #031509;
}

.works-quote-offers-button:active {
  color: rgb(43, 224, 122);
  box-shadow: -0.4rem -0.6rem 1rem #031509;
}

/* SERVICES CARDS ...................................................................   */

.our-services-card p:hover, .our-services-card h6:hover, .our-services-card img:hover {
  color: rgb(43, 224, 122);
}

/* HOW WE WORKS ...................................................................   */

.working-process p:hover{
  color: rgb(43, 224, 122);
}

.working-process img:hover{
  box-shadow: 0.2rem 0. 5rem 2rem -0.6rem rgb(43, 224, 121);
}

/* PRODUCTS ...................................................................   */

.products-images img:hover{
  box-shadow: 0.2rem 0.5rem 2rem -0.3rem rgb(43, 224, 121);
}

/* INDUSTRIES WE SERVE ...................................................................   */

.industries-we-serve-list h6:hover{
  /* font-size: 2.1rem; */
  /* position: relative; */
  /* top: -21rem; */
  margin: 0 0 0;
  /* padding: 6rem 0; */
  color: rgb(43, 224, 121);
  /* background-color: rgba(0, 0, 0, 0.375); */
}

.industries-we-serve-list img:hover{
  box-shadow: 0.2rem 0.5rem 2rem -1.2rem #93939360;
}

/* FOOTER ...................................................................   */

html {
  /* default 1.6rem */
  /* 1rem / 1.6rem = 0.625  */
  font-size: 62.5%;   /* current 1rem = 1rem */
}

.footer-nav-head a:hover{
  color: rgb(43, 224, 122);
}

.footer-nav-head a:active{
  color: #eaff96;
}

#laws a:hover{
  color: #d6ffe8;
}
