
html {
  /* default 1.6rem */
  /* 1rem / 1.6rem = 0.625  */
  font-size: 62.5%;   /* current 1rem = 1rem */
}

/* ICONS */
.header-svg {
  vertical-align: middle;
  padding-right: 0.2rem;
  align-items: center;
  color: rgb(186, 181, 181);
}

/* FOR NAV ICONS */
.main-nav img {
  width: 1vw;
  /* padding-left: 0.3rem; */
  background-color: rgb(16, 16, 16);
  vertical-align: -0.4rem;
}

/* SERVICES ICONS */
.service-icon {
  color: rgb(188, 177, 177);
  width: 8rem;
  height: 8rem;
  padding-bottom: 2rem;
}
