*{
    font-family: sans-serif;
}

header div{
    font-size: 12px;
    display:inline-block;
    align-items:center;
    margin-bottom: 4px;
    ;

}

.contact_us_call, .contact_us_email{
    padding: 5px;
}

.logo{
    width: 150px;
    /* display: block; */
    flex: 0 0 150px;
}

nav {
    display:flex;
}

nav ul {
    padding: 6px;
}

.main_nav {
    display: inline-block;
    font-size: 16px;
    flex: 0 0 1271px;
    padding: 5px;
}
.nav-heading{
    padding: 5px;
}

.sub_nav{
    font-size: 12px;
    padding-right: 0;
}

.our-services-card{
    padding: 0;
    margin: 0;
    display: inline-block;
}

.product{
    display: inline-block;
    padding: 12px;
}