*{
    font-family: sans-serif;
}

header {
    font-size: 12px;
    padding: 10px;
    margin: 4px;
    display:flex;
    ;

}

.contact_us_call, .contact_us_email{
    padding: 5px;
}

.logo{
    width: 150px;
    /* display: block; */
}

nav {
    display:flex;
}
.main_nav {
    display: inline-flex;
    font-size: 16px;
}

.sub_nav{
    font-size: 12px;
}

