/* !important > inline style html > id > class or pseudo(:) (last one) > element (last one) > universal */
/* least priority to 1` change all elements */

* {
  font-family: "DM Sans", sans-serif;
  color: rgb(186, 181, 181);
  /* background-color: #eaff96; */
  text-decoration: none;
  padding: 0;
  margin: 0 0;
}

html {
  /* default 1.6rem */
  /* 1rem / 1.6rem = 0.625  */
  font-size: 62.5%;   /* current 1rem = 1rem */
}

/* .body-container {
    width: 99%;
    margin: 0 2rem;
} */

.header-all-value {
  margin: 1rem 0 0;
  padding-bottom: 1rem;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  gap: 1rem;
}

.inside-header-value {
  padding: 0 1rem;
  font-size: 1rem;
}

.inside-header-value.three {
  flex: 1 1 3rem;
}

.i-need-help {
  padding-right: 2rem;
  color: #A3A3A3;
}

a.call-us-no,
a.email-us-email {
  color: #A3A3A3;
}

/* NAVIGATION */
.nav-section {
  display: grid;
  grid-template-columns: 2fr 2fr;
  column-gap: 1rem;
  background-color: rgb(16, 16, 16);
  margin-bottom: 1rem;
  /* position: sticky; */
}

/* display: flex;
    justify-content:end;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    gap: 2rem; */
/* box-shadow: 0 0.5rem 1.5rem color; */
/* background-color:; */
/* opacity: 1; */

.logo-div {
  background-color: rgb(16, 16, 16);
}

.nav-div {
  display: flex;
  background-color: rgb(16, 16, 16);
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 2rem ;
  padding-right: 5rem;
}

.main-nav {
  background-color: rgb(16, 16, 16);
}

.main-nav a {
  background-color: rgb(16, 16, 16);
}

.main-nav.logo img {
  width: 20rem;
  background-color: rgb(16, 16, 16);
}

.main-nav.quote button {
  border: 0 solid #eaff96;
  color: rgb(43, 224, 122);
  background-color: rgb(16, 16, 16);
  font-size: 1.2rem;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
}


.nav-heading {
  color: #A3A3A3;
  font-size: 1.2rem;
  background-color: rgb(16, 16, 16);
}

/* SUB NAVIGATION */
.sub-nav {
  font-size: 1.2rem;
  display: none;
}

.sub-nav-text {
  padding: 0 1.5rem;
  margin: 0.8rem 0 0.8rem;
}

.works-section {
  margin: 0 0 0.1rem;
  /* display: none; */
}

.how-we-works.image {
  padding: 1rem 4rem;
}

.how-we-works.image img {
  width: 100%;
  height: 58rem;
  border-radius: 1.5rem;
  /* box-shadow: 0 1rem 2rem -0.6rem #51ffa23e; */
  /* background: linear-gradient(to top left, green, white); */
  position: relative;
  /* display: none; */
}

.image-grad {
  background: linear-gradient(
    to top left,
    rgba(255, 255, 255, 0),
    rgb(0, 113, 45)
  );
  width: 144rem;
  height: 58rem;
  margin-left: 4rem;
  padding-right: -0.2rem;
  border-radius: 1.5rem;
  position: absolute;
  top: 1rem;
  left: 0;
}

.how-we-works.text {
  text-shadow: 0.1rem 0.1rem rgb(16, 16, 16);
  padding: 0 4rem;
  background: none;
  position: absolute;
  top: 6rem;
  left: 6rem;
}

.works-quote-head {
  font-size: 6.5rem;
  background: none;
}

h4 {
  margin: 1.2rem 0 3rem;
  color: whitesmoke;
  background: none;
}

.works-quote-head-para {
  font-size: 2.5rem;
}

.works-quote-head-para p {
  margin: 1.2rem 0 3rem;
  color: whitesmoke;
  background: none;
}

.works-quote-offers {
  font-size: 2rem;
  padding: 0 6rem;
  margin: 1rem 0 1rem;
  background: none;
}

.works-quote-offers li,
.works-quote-offers ul {
  margin: 0.8rem 0 0.8rem;
  color: whitesmoke;
  background: none;
}

.works-quote-offers-button {
  font-size: 3.5rem;
  padding: 0.5rem 1.5rem;
  border-radius: 5rem;
  color: rgb(43, 224, 122);
  background-color: #000000;
  box-shadow: 0 1rem 1rem #031509;
  position: absolute;
  top: 42rem;
  left: 4rem;
  /* background-image: linear-gradient(to bottom, transparent 0%, white 100%); */
}

.works-button{
  border: 0 rgba(144, 136, 136, 0);
}

.banners-section {
  margin: 0 2rem 1rem;
  display: none;
}

.featured-banners {
  width: 130rem;
  height: 20rem;
}

.banners-section a {
  display: flex;
  gap: 2rem;
}


.working-process{
  width: 100vw;
  /* height: 320rem; */
  column-gap: 5rem;
  row-gap: 6rem;
  align-items: center;
  margin-top: 10rem;
  margin-bottom: 15rem;
  display: grid ;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
}

.working-process img{
  width: 40rem;
  border-radius: 1rem;
  box-shadow: 0.2rem 0.5rem 2rem -1.2rem #939393;
  
  /* background-color: #000000; */
}

.working-process .img-right{
  padding-left: 5rem;
  border-left: 0.1rem solid rgba(43, 224, 121, 0.556);
}

.working-process .img-left{
  text-align: end;
  padding-right: 5rem;
  border-right: 0.1rem solid rgba(43, 224, 121, 0.556);
}

.working-process p{
  font-size: 2rem;
  text-align: end;
  /* background-color: #000000; */
}

.share p, .modify p, .removal p, .delivery p{
  padding-left: 20rem;
  
}

.analysis p, .printing p, .painting p, .feedback p{
  text-align: start;
  padding-right: 20rem;
}

/* .working-process div{
  background-color: rgb(0, 0, 0);
} */

.services-we-offers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  gap: 1rem;
}

.our-services-card {
  padding: 1rem 3rem;
  height: 35rem;
  margin: 2rem 2.5rem;
  /* width here */
  /* flex: 1 1 20%;  */
}

.our-services-card p {
  font-size: 1.4rem;
  line-height: 1.7;
  word-spacing: 0.3rem;
  letter-spacing: 0.1rem;
  height: 20rem;
  /* padding-bottom: 3rem; */
  margin: 0.8rem 0 0.8rem;
  height: 10rem;
  /* text-align:center; */
  /* vertical-align:text-top; */
}

h5 {
  font-size: 4rem;
  padding: 0 4rem;
  margin: 10rem 0 7.5rem;
  text-align: center;
  color: #e3e8e3;
}

h6 {
  font-size: 2.2rem;
  word-spacing: 0.3rem;
  letter-spacing: 0.1rem;
  margin: 3rem 0 2rem;
  padding-bottom: 2rem;
  color: rgb(223, 234, 223);
  /* text-align: center; */
  /* height: 10rem; */
  /* vertical-align:text-bottom; */
}

/* PRODUCTs */

.products-images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  gap: 1rem;
}

.product {
  margin: 1.5rem 2rem 1rem;
}

.products-images img {
  width: 100%;
  height: 25rem;
  border-radius: 0.6rem;
  box-shadow: 0.2rem 0.5rem 2rem -1.2rem #939393;
}

.indu-para {
  font-size: 2rem;
  padding: 0 1.5rem;
  margin: 1rem 0 10rem;
  color: rgb(89, 236, 153);
  text-align: center;
  /* color: rgb(191, 194, 191); */
}

.industries-we-serve-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  text-align: center;
  justify-items: center;
  align-items: center;
  row-gap: 4rem;
  /* column-gap: 1.2rem; */
  margin-bottom: 10rem;
  /* gap: 1rem; */
}

.industries-we-serve-list h6{
  font-size: 1.6rem;
  /* position: relative; */
  /* top: -15rem; */
  margin: 0 0 0;
  padding: 1rem 0;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.597);
}

.industries-we-serve-list img{
  width: 22.5rem;
  height: 15rem;
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.5rem 2rem -1.2rem #ffffff;
}

.trusted-section {
  display: none;
}

.trusted-by img {
  width: 23%;
  height: 25rem;
  margin: 2rem 2rem 2rem;
  display: inline-block;
}

.client-section {
  display: none;
}

.clients-reviews img {
  width: 23%;
  height: 25rem;
  margin: 2rem 2rem 2rem;
  display: inline-block;
}

.bNn-section{
  display: none;
}

.blogs-news {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  gap: 1rem;
}

.blogs-news img {
  width: 23%;
  height: 25rem;
  margin: 2rem 2rem 2rem;
  flex: auto;
}

.faqs-section {
  display: none;
}

.faqs .faqs-list {
  width: 100%;
  height: 25rem;
  margin: 2rem 2rem 2rem;
  display: block;
}

/* .faqs-list span.answer{
    display: inline;
} */

.query {
  font-size: 2.4rem;
  padding: 0 1.5rem;
  margin: 1rem 0 1rem;
  display: block;
}

.answer {
  font-size: 2rem;
  padding: 0 4rem;
  margin: 1rem 0 1rem;
  display: flex;
  align-items: center;
  text-align: center;
}

footer {
  width: 100%;
  height: 69.5rem;
  border-top: 0.1rem solid rgb(191, 194, 191);
}

.footer-head {
  height: 22.5rem;
  font-size: 1.6rem;
  text-align: center;
  padding-top: 2rem;
  /* margin: 3rem 0 1rem; */
  display: grid;
  grid-template-columns: repeat(5,1fr);
}

.footer-nav-head a{
  display: grid;
  grid-template-columns: 1fr;
  font-size: 1.4rem;
  padding-top: 1rem;
  row-gap: 0.5rem;
  color: rgb(255, 255, 255);
}

.join-us {
  width: 35rem;
  height: 31rem;
  border-right: 0.3rem solid rgb(144, 136, 136);
  display: inline-block;
}

.join-us p {
  font-size: 3.5rem;
  margin: 0 0 1rem;
  text-align: center;
  display: block;
}

.join-us div{
  width: 3rem;
  height: 3rem;
}

.join-us img {
  width: 6rem;
  height: 6rem;
  padding: 3.3rem 5.5rem;
  display: inline-block;
  align-items: center;
  vertical-align: bottom;
}

h3.go-map {
  width: 30rem;
  /* height: 40rem; */
  font-size: 3.5rem;
  padding: 0 0.8rem;
  margin: 0.6rem 0 0.6rem;
  vertical-align: 350%;
  text-align: center;
  display: inline-block;
}

img.go-map {
  width: 75rem;
  height: 30rem;
  margin: 1rem 1rem 1rem;
  border: 0.2rem solid rgb(144, 136, 136);
  border-radius: 3rem;
}

#laws{
    display: grid;
    grid-template-columns: repeat(9,1fr);
    font-size: 1.2rem;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 2rem;
}

#copyright {
  /* font-size: 1rem; */
  padding: 0.4rem 0;
  margin: 1rem 0 1rem;
  border-top: 0.2rem solid rgb(43, 224, 122);
  border-bottom: 0.2rem solid rgb(43, 224, 122);
  display: block;
  text-align: center;
}
