/* !important > inline style html > id > class or pseudo(:) (last one) > element (last one) > universal */
/* least priority to 1` change all elements */
*{  
    font-family: 'DM Sans', sans-serif;
    color: rgb(144, 136, 136);
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 0;
    margin: 0 0;
}

.body-container{
    width: 99%;
    margin: 0 5px;
}

/* Maintain order */

a:hover, .sub-nav-text:hover {
    color: rgb(43, 224, 122);
    font-weight: bold;
    /* text-decoration: underline wavy rgb(43, 224, 122); */
}

a:active .sub-nav-text:hover{
    font-style:italic;
    color: orangered;
    /* text-decoration: underline wavy orangered; */
}

.call-us , .email-us{
    font-size: 14px;
}

a.call-us-no, a.email-us-email{
    font-size: 16px;
    color: rgb(188, 177, 177);
}

.whatsapp, .i-need-help{
    font-size: 14px;    
}

.whatsapp{
    padding-right: 750px;
}

.i-need-help{
    padding-left: 120px;
}

.header-all-value{
    margin: 10px 0 0;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(52, 51, 51);
}

.inside-header-value{
    padding: 0 10px;
    display: inline-block;
}

nav{
    margin: 0 0 10px;
    display: inline;
    vertical-align: 100%;
    margin-left: 130px;
}

.logo{
    display: inline;
}
.logo img{
    width: 15%;
    padding-left: 30px;
    padding-right: 150px;
}

.main-nav{
    display: inline-block;
}
.nav-heading{
    color: rgb(43, 224, 122);
    font-size: 20px;
    padding-right: 50px;
}

.sub-nav{
    font-size: 13px;
    display: none;
    /* display:grid; */
}


.sub-nav-text{
    padding: 0 15px;
    margin: 8px 0 8px;
    display: inline;
}

.works-section{
    margin: 0 0 10px;
}

.how-we-works-image{
    width: 100%;
}

.how-we-works-text{
    padding: 0 40px;
}

.works-quote-head{
    font-size: 65px;
    
}

h4{
    margin: 12px 0 12px;
}

.works-quote-head-para{
    font-size: 25px;
}

.works-quote-head-para p{
    margin: 12px 0 12px;
}

.works-quote-offers{
    font-size: 20px;
    padding: 0 60px;
    margin: 10px 0 10px;
}

.works-quote-offers li{
    margin: 8px 0 8px;
}

.works-quote-offers-button{
    font-size: 35px;
    color: rgb(43, 224, 122);
}

.banners-section{
    margin: 0 0 10px;
}

.featured-banners{
    width: 100%;
    height: 200px;
}

.our-services-card{
    display: inline-block;
    width: 25%;
    height: 250px;
    margin: 20px 28px;
}

.our-services-card p{
    font-size: 16px;
    padding: 0 10px;
    margin: 8px 0 8px;
    height: 100px;
    display:flex;
    flex-direction:column;
    text-align:center;
}

h5 {
    font-size: 40px;
    padding: 0 20px;
    margin: 45px 0 35px;
    text-align: center;
}

h6 {
    font-size: 22px;
    margin: 10px 0 10px;
    text-align: center;
    height: 100px;
}

.working-process div{
    width: 60%;
    height: 200px;
    display: flex;
    align-items: center;
}

.working-process p{
    font-size: 20px;
    padding: 0 15px;
    margin: 10px 0 10px;
    text-align: left;
}

.product{
    display: inline-block;
    margin: 15px 20px 10px;
}

.products-images img{
    width: 100%;
    height: 250px;
}

.indu-para{
    font-size: 20px;
    padding: 0 15px;
    margin: 10px 0 40px;
    text-align: center;
    color: rgb(191, 194, 191);
}

.industries-we-serve-list h6{
    width: 24%;
    height: 250px;
    margin: 20px 20px 20px ;
    display: inline-block;
}

.trusted-by img{
    width: 23%;
    height: 250px;
    margin: 20px 20px 20px ;
    display: inline-block;
}

.clients-reviews img{
    width: 23%;
    height: 250px;
    margin: 20px 20px 20px ;
    display: inline-block;
}

.blogs-news img{
    width: 23%;
    height: 250px;
    margin: 20px 20px 20px ;
    display: inline-block;
}

.faqs .faqs-list{
    width: 100%;
    height: 250px;
    margin: 20px 20px 20px ;
    display: block;
}

/* .faqs-list span.answer{
    display: inline;
} */

.query{
    font-size: 24px;
    padding: 0 15px;
    margin: 10px 0 10px;
    display: block;
}

.answer{
    font-size: 20px;
    padding: 0 40px;
    margin: 10px 0 10px;
    display: flex;
    align-items: center;
    text-align: center;
}

footer{
    width: 100%;
    height: 680px;
    border-top: 1px solid rgb(191, 194, 191);
}

footer span{
    margin: 30px 15px 30px;
}

.footer-nav-head{
    width: 13%;
    height: 200px;
    font-size: 16px;
    text-align: center;
    padding: 0 8px;
    /* margin: 30px 0 10px; */
    display: inline-block;
}

.join-us{
    width: 350px;
    height: 310px;
    border-right: 3px solid rgb(144, 136, 136);
    display: inline-block;
}

.join-us p{
    font-size: 35px;
    margin: 0 0 10px;
    text-align: center;
    display: block;
}

.join-us img{
    width: 120px;
    height: 120px;
    padding: 3px 25px;
    display: inline-flex;
    align-items: center;
    vertical-align: bottom;
}

h3.go-map{
    width: 300px;
    /* height: 400px; */
    font-size: 35px;
    padding: 0 8px;
    margin: 6px 0 6px;
    vertical-align: 350%;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
}

img.go-map{
    width: 750px;
    height:300px;
    margin: 10px 10px 10px;
    display: inline-block;
    border: 6px solid rgb(144, 136, 136);
}

#copyright{
    /* font-size: 10px; */
    padding: 4px 0;
    margin: 60px 0 10px;
    border-top: 2px solid rgb(43, 224, 122);
    border-bottom: 2px solid rgb(43, 224, 122);
    display: block;
    text-align: center;
}

