
html {
  /* default 1.6rem */
  /* 1rem / 1.6rem = 0.625  */
  font-size: 62.5%;   /* current 1rem = 1rem */
}

/* SWIPER */

.swiper-slide {
  /* text-align: center; */
  /* font-size: 1.8rem; */
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  width: 100%;
  height: 100%;
  position: relative;
}

.swiper-button-next,
.swiper-button-prev {
  color: rgb(186, 181, 181);
  position: absolute;
  top: 120rem;
}

.swiper-pagination {
  /* background-color: #27262600;
  background-color: rgb(120, 252, 177) !important;
  color: rgb(43, 224, 122) !important; */
  display: none;
  /* vertical-align: bottom; */
}

.swiper-scrollbar {
  /* background-color: #27262600; */
  background-color: rgb(170, 189, 178) !important;
  /* color: rgb(43, 224, 122) !important; */
  display: none;
  /* vertical-align: bottom; */
}

/* Banner ............................................................................   */

.swiper-slide .featured-banners {
  display: block;
  object-fit: cover;
}

/* SERVICE ............................................................................   */

.swiper-slide .our-services-card {
  display: block;
  object-fit: cover;
  height: 50rem;
}

/* PRODUCTs ............................................................................   */

.swiper-slide .product img {
  display: block;
  object-fit: cover;
  height: 25rem;
  margin-bottom: 15rem;
}